code {
	display: inline-block;
}

.line.selected {
	border: solid;
	border-color: blue;
	border-width: 1px;
}

.COMMENT {
	color: green;
}

.CONST {
	color: #9578ff;
}

.IDENT {
	color: black;
}

.MNEMONIC {
	color: darkblue;
}

.REGISTER {
	color: red;
}
