#panel {
	margin-bottom: 8px;
}

code {
	display: inline-block;
}

.line {
	border: solid;
	border-color: transparent;
	border-width: 1px;
}

.line.selected {
	border-color: blue;
}

.status span {
	display: block;
	font-family: monospace;
}

.COMMENT {
	color: green;
}

.CONST {
	color: #9578ff;
}

.IDENT {
	color: black;
}

.MNEMONIC {
	color: darkblue;
}

.REGISTER {
	color: red;
}

.SHIFT_OPERATOR {
	color: orange;
}
